{% extends 'page_base.html' %}

{% block title %}
  Личная карточка сотрудника
{% endblock %}

{% block content %}

  <h1>Личная карточка сотрудника</h1>
  <form id="update-employee-form" action="{% url 'update_employee' %}" method="POST">
    <div class="info-line">
      <label for="employee_id_show">ID:</label>
      {% comment %} "Отключённое" поле не отправляется в контроллер {% endcomment %}
      <input disabled form="update-employee-form" type="number" name="employee_id_show" class="form-input"
        value="{{data.employee.0}}">
      {% comment %} Скрытое поле будет отправлено {% endcomment %}
      <input form="update-employee-form" type="number" name="employee_id" class="form-input"
        value="{{data.employee.0}}" style="display: none;">
    </div>
    <div class="info-line">
      <label for="employee_full_name">ФИО: </label>
      <input form="update-employee-form" type="text" name="employee_full_name" class="form-input"
        value="{{data.employee.1}} {{data.employee.2}} {{data.employee.3}}">
    </div>
    <div class="info-line">
      <label for="employee_age">Возраст:</label>
      <input form="update-employee-form" type="number" name="employee_age" class="form-input"
        value="{{data.employee.4}}">
    </div>
    <div class="info-line">
      <label for="employee_gender">Пол:</label>
      <select form="update-employee-form" name="employee_gender" class="form-input">
        <option {% if data.employee.5 == 'м' %} selected {% endif %} value="м">м</option>
        <option {% if data.employee.5 == 'ж' %} selected {% endif %} value="ж">ж</option>
      </select>
    </div>
    <div class="info-line">
      <label for="employee_job_id">Должность</label>
      <select form="update-employee-form" name="employee_job_id" class="form-input">
        {% for job in data.jobs.values %}
          <option {% if data.employee.6 == job.0 %} selected {% endif %} value="{{ job.0 }}">{{ job.1 }}</option>
        {% endfor %}
      </select>
    </div>
    {% csrf_token %}
    <input form="update-employee-form" type="submit" class="update-btn" value="Обновить">
    {% if messages %}
      <div class="error-log">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  </form>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />
{% endblock %}