{% extends 'page_base.html' %}

{% block title %}
  Справочник должностей
{% endblock %}

{% block content %}
  <h1>Справочник должностей</h1>
  {% if messages %}
    <div class="error-log">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
  <div class="tables-container">
    <div class="employees-container">
      <div class="table-title">
        Сотрудники ({{data.employees.values|length}})
      </div>
      <table id="emoloyees-table">
        <thead>
          {% for header in data.employees.headers|slice:"5" %}
            <th>{{ header.name }}</th>
          {% endfor %}
        </thead>
        {% for rows in data.employees.values %}
          <tr data-id="{{rows.0}}">
            <td>{{ rows.0 }}</td>
            <td><a href="employee/{{ rows.0 }}" class="link-violet">{{ rows.1 }}</a></td>
            <td>{{ rows.2 }}</td>
            <td>{{ rows.3 }}</td>
            <td>{{ rows.4 }} ({{ rows.5 }})</td>
            <td style="width: 25px;">
              <form action="{% url 'delete_employee' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="employee_id" id="employee_id" value="{{ rows.0 }}" style="display: none;"/>
                <input type="submit" class="delete-btn" value="X" onclick="return confirm('Удалить сотрудника {{ rows.1 }}?')">
              </form>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td>Нов.<form id="create-employee-form" action="{% url 'create_employee' %}" method="POST">{% csrf_token %}</form></td>
          <td><input form="create-employee-form" type="text" name="employee_full_name" class="table-input" style="height: 13pt;"></td>
          <td><input form="create-employee-form" type="number" name="employee_age" class="table-input" style="height: 13pt;"></td>
          <td><select form="create-employee-form" name="employee_gender" class="table-input">
            <option value="м">м</option>
            <option value="ж">ж</option>
          </select></td>
          <td><select form="create-employee-form" name="employee_job_id" class="table-input">
            {% for job in data.jobs.values %}
              <option value="{{ job.0 }}">{{ job.1 }}</option>
            {% endfor %}
          </select></td>
          <td style="width: 25px;">
            <input form="create-employee-form" type="submit" class="create-btn" value="OK">
          </td>
        </tr>
      </table>
    </div>

    <div class="jobs-container">
      <div style="display: flex; align-items: center;">
        <div class="table-title">
          Должности ({{data.jobs.values|length}})
        </div>
        <select name="select-category" id="select-category">
          <option value="0">Все</option>
          {% for cat in data.categories %}
            <option value="{{ cat.0 }}">{{ cat.1 }}</option>
          {% endfor %}
        </select>
      </div>
      <table id="jobs-table">
        <thead>
          {% for header in data.jobs.headers|slice:":3" %}
            <th>{{ header.name }}</th>
          {% endfor %}
        </thead>
        {% for rows in data.jobs.values %}
          <tr data-job-id="{{ rows.0 }}" data-cat-id="{{rows.3}}">
            <td>{{ rows.0 }}</td>
            <td><a href="job/{{ rows.0 }}" class="link-violet">{{ rows.1 }}</a></td>
            <td>{{ rows.2 }}</td>
            <td style="width: 25px;">
              <form action="{% url 'delete_job' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="job_id" id="job_id" value="{{ rows.0 }}" style="display: none;"/>
                <input type="submit" class="delete-btn" value="X" onclick="return confirm('Удалить должность {{ rows.1 }}?')">
              </form>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td>Нов.<form id="create-job-form" action="{% url 'create_job' %}" method="POST">{% csrf_token %}</form></td>
          <td><input form="create-job-form" type="text" name="job_name" class="table-input" style="height: 13pt;"></td>
          <td><select form="create-job-form" name="job_category_id" class="table-input">
            {% for cat in data.categories %}
              <option value="{{ cat.0 }}">{{ cat.1 }}</option>
            {% endfor %}
          </select></td>
          <td style="width: 25px;">
            <input form="create-job-form" type="submit" class="create-btn" value="OK">
          </td>
        </tr>
      </table>
    </div>
  </div>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
