{% extends 'page_base.html' %}

{% block title %}
  Карточка должности
{% endblock %}

{% block content %}

  <h1>Должность {{ data.job.1 }}</h1>
  <form id="update-job-form" action="{% url 'update_job' %}" method="POST">
    <div class="info-line">
      <label for="job_id_show">ID:</label>
      {% comment %} "Отключённое" поле не отправляется в контроллер {% endcomment %}
      <input disabled form="update-job-form" type="number" name="job_id_show" class="form-input"
        value="{{data.job.0}}">
      {% comment %} Скрытое поле будет отправлено {% endcomment %}
      <input form="update-job-form" type="number" name="job_id" class="form-input"
        value="{{data.job.0}}" style="display: none;">
    </div>
    <div class="info-line">
      <label for="job_name">Название: </label>
      <input form="update-job-form" type="text" name="job_name" class="form-input"
        value="{{data.job.1}}">
    </div>
    <div class="info-line">
      <label for="job_category_id">Категория</label>
      <select form="update-job-form" name="job_category_id" class="form-input">
        {% for cat in data.cats %}
          <option {% if data.job.2 == cat.0 %} selected {% endif %} value="{{ cat.0 }}">{{ cat.1 }}</option>
        {% endfor %}
      </select>
    </div>
    {% csrf_token %}
    <input form="update-job-form" type="submit" class="update-btn" value="Обновить">
    {% if messages %}
      <div class="error-log">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  </form>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />
{% endblock %}