<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>

<body>
  <div class="content-container">
    {% if request.path != '/handbook/' %}
      <a class="back-btn" href="/handbook/">Назад</a>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>