html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13pt;
  background-color: rgb(227, 227, 255);
  height: 100%;
  width: 100%;
  margin: 0;
}

html, body, input, textarea {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 11pt;
}

h1 {
  font-size: 25pt;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 80%;
  min-width: 1024px;
  min-height: 400px;
  background-color: rgb(246, 250, 254);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.error-log {
  color: red;
  font-size: 16pt;
  margin-bottom: 10px;
  text-align: center;
}

.link-violet {
  text-decoration: none;
  color: rgb(53, 15, 176);
}

.link-violet:hover {
  color: rgb(35, 11, 122);
  text-decoration: underline;
}

.back-btn:hover {
  background-color: rgb(172, 191, 216);
  text-decoration: underline;
}
.back-btn {
  background-color: rgb(208, 219, 234);
  color: darkslateblue;
  font-size: 14pt;
  text-decoration: none;
  padding: 1px 3px;
  border-radius: 3px;
}