form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 300px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
}

.info-line {
  display: flex;
  font-size: 13pt;
  width: 100%;
  justify-content: space-between;
  margin: 3px;
}

.form-input {
  text-align: right;
  background-color: antiquewhite;
  border: 2px solid burlywood;
  color: black;
  font-size: 13pt;
  font-weight: normal;
  max-width: 180px;
}

input[type="number"] {
  width: 80px;
}
input[type="submit"] {
  margin-top: 10px;
}

.update-btn:hover { background-color: rgb(11, 52, 141); }
.update-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100px;
  height: 35px;
  background-color: rgb(33, 91, 217);
  border: 2px solid rgb(20, 20, 146);
  border-radius: 4px;
  color: white;
  padding: 3px;
  font-size: 12pt;
}