.tables-container {
  display: flex;
  width: 100%;
  resize: vertical;
  overflow: auto;
}

.employees-container, .jobs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 10px 0;
  overflow: auto;
  width: 50%;
  border: 2px solid darkblue;
  resize: horizontal;
}

.employees-container {
  border-right-style: dashed;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 0;
}

.jobs-container {
  border-left-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 0;
}

.table-title {
  font-size: 18.5pt;
  align-self: center;
  margin: 5px;
}

table {
  background-color: rgb(202, 172, 136);
  width: 98%;
}
thead {
  background-color: bisque;
  font-size: 11.5pt;
}
thead th { padding: 2px; }
tbody {
  background-color: rgb(241, 236, 230);
}
tbody td {
  padding: 1px 3px;
  max-width: 140px;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

#select-category {
  background-color: beige;
  color: black;
  
  font-weight: 600;
  padding: 3px;
  margin-left: 10px;
}

.table-input[type="text"] {
  width: 70%;
}

.table-input[type="number"] {
  width: 35px;
  font-size: 9.5pt;
  font-weight: bold;
}

.table-input {
  font-size: 12pt;
  font-weight: 500;
  background-color: whitesmoke;
  color: black;
  border: 1px solid rgb(87, 27, 16);
  border-radius: 3px;
}

.delete-btn { background-color: red; }
.delete-btn:hover { background-color: rgb(184, 0, 0); }

.create-btn { background-color: rgb(88, 217, 33); }
.create-btn:hover { background-color: rgb(58, 154, 16); }

.delete-btn, .create-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  color: white;
  padding: 3px;
  font-size: 9pt;
}

